html, body {
    font-family: serif;
}
body {
    margin: 3rem;
    font-family: cursive;
    color: #000000;
    background-color: #ffffff7c;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 400px;
    padding: 40px;
    margin-bottom: 20px;

} 
.temp {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 70px;
    font-size: 20px;
    text-align: center;
    color: #000;
    border-radius: 10px;
    border: solid #000;
    border-width: 3px;
    background-color: #4caf50;
}
.icon {
    position: relative;
  
}
.tempr{
    position: relative;
  
}
.container-list{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 100px;
    border-radius: 5px;
    outline: 2px solid #000;
    color: #fff;
    background-color: #4caf50;
}